name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      browser:
        description: 'Browser to run tests'
        required: false
        default: 'All'
        type: choice
        options:
          - All
          - chromium
          - firefox
          - webkit
      testType:
        description: 'Type of tests to run'
        required: false
        default: 'All'
        type: choice
        options:
          - All
          - UI
          - API

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      USER: standard

    strategy:
      matrix:
        browser: ${{ github.event.inputs.browser == 'All' || github.event.inputs.browser == '' 
                      && 'chromium,firefox,webkit' || github.event.inputs.browser }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Allure commandline
        run: npm install -g allure-commandline --no-save

      - name: Install Playwright browsers
        run: npx playwright install

      - name: Run Playwright tests
        run: |
          if [ "${{ github.event.inputs.testType }}" = "UI" ]; then
            npx playwright test tests/ui --project=${{ matrix.browser }}
          elif [ "${{ github.event.inputs.testType }}" = "API" ]; then
            npx playwright test tests/api --project=${{ matrix.browser }}
          else
            npx playwright test --project=${{ matrix.browser }}
          fi

      - name: Generate Playwright HTML report
        run: npx playwright show-report --reporter=html --output=playwright-report || true

      - name: Clean old Allure report
        run: rm -rf allure-report || true

      - name: Generate Allure report
        run: allure generate allure-results -o allure-report || true

      - name: Upload Playwright HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report-${{ matrix.browser }}
          path: playwright-report

      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-${{ matrix.browser }}
          path: allure-report
