name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      browser:
        description: 'Browser to run tests'
        required: false
        default: 'All'
        type: choice
        options:
          - All
          - chromium
          - firefox
          - webkit
      testType:
        description: 'Type of tests to run'
        required: false
        default: 'All'
        type: choice
        options:
          - All
          - UI
          - API

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: ${{ fromJSON('["chromium","firefox","webkit"]') }}
    # Этот шаг заменяется, если выбран конкретный браузер
    if: ${{ github.event.inputs.browser == 'All' || github.event.inputs.browser == '' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Allure commandline
        run: npm install -g allure-commandline --no-save

      - name: Install Playwright browsers
        run: npx playwright install

      - name: Run Playwright tests
        run: |
          BROWSER="${{ github.event.inputs.browser }}"
          if [ "$BROWSER" != "All" ] && [ "$BROWSER" != "" ]; then
            echo "Running on selected browser: $BROWSER"
            npx playwright test --project=$BROWSER $( [ "${{ github.event.inputs.testType }}" != "All" ] && echo "tests/${{ github.event.inputs.testType | downcase }}" )
          else
            echo "Running on all browsers"
            npx playwright test $( [ "${{ github.event.inputs.testType }}" != "All" ] && echo "tests/${{ github.event.inputs.testType | downcase }}" )
          fi

      - name: Generate Playwright HTML report
        run: npx playwright show-report --reporter=html --output=playwright-report || true

      - name: Clean old Allure report
        run: rm -rf allure-report || true

      - name: Generate Allure report
        run: allure generate allure-results -o allure-report || true

      - name: Upload Playwright HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report

      - name: Upload Allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report
